.image{
    text-align: center;
}

.media h2{
    background-color: blue;
    color: white;
    text-align: center;
    height: 30px;
    
}

.audio{
    text-align: center;
}

.video{
    text-align: center;
}

.pdf{
    text-align: center;
}

.pdf (with fallenback){
    text-align: center;
}